{% extends "base.html.twig" %}


{% block title %}Error - Activity Limit Reach{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="style.css" /> 
{% endblock %}

{% block body %}

    <h1>Activity limit reach !</h1>

    <p>The maximum amount of users have been reach for this activity.</p>

{% endblock %}