{% extends "base.html.twig" %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="style.css" /> 
{% endblock %}

{% block body %}

    <h2>Create an account</h2>

    {{ form_start(userForm) }}
        {{ form_widget(userForm) }}

        <button type="submit">Create account</button>
    {{ form_end(userForm) }}

{% endblock %}