{% extends "base.html.twig" %}

{% block title %}Registration{% endblock %}

{% block body %}

    <h1>Création de compte</h1>

    {{ form_start(userForm) }}
        {{ form_widget(userForm) }}

        <button type="submit">Créer un compte</button>
    {{ form_end(userForm) }}

{% endblock %}